# ***ASSIGNMENT 02 - Data Types & Structures***

## ***Theory Solutions***

### Question 01--> What are data structures, and why are they important?
***Ans-->*** Data structures are specialized formats for organizing, storing, and managing data in computer systems. They define the relationship between different pieces of data and provide ways to efficiently process, retrieve, and modify data

### Question 02--> Explain the difference between mutable and immutable data types with examples.
***Ans-->*** Mutable Data Types

Definition: Mutable data types can be changed or modified after their creation.

Meaning: You can alter their contents (e.g., add, remove, or update elements) without creating a new object.

Immutable Data Types

Definition: Immutable data types cannot be changed after they are created. Any operation that appears to modify them actually creates a new object.

Meaning: Their value remains constant throughout their existence.

### Question 03-->What are the main differences between lists and tuples in Python?
***Ans-->*** Lists are mutable, meaning their contents can be changed by adding, removing, or updating elements, while tuples are immutable and cannot be altered after creation.

### Question 04-->Describe how dictionaries store data.
***Ans-->*** Dictionaries in Python store data as key-value pairs using a data structure called a hash table. Each key is processed by a hash function to determine a unique index in the underlying array, where its corresponding value is stored.

### Question 05-->Why might you use a set instead of a list in Python?
***Ans-->*** We might use a set instead of a list in Python when you need to store a collection of unique elements and do not care about the order of those elements. Unlike lists, sets automatically eliminate duplicate values, ensuring all items are distinct.

### Question 06-->What is a string in Python, and how is it different from a list?
***Ans-->*** A string in Python is a sequence of characters enclosed in single or double quotes, such as "hello" or 'world'. Strings are designed specifically for representing textual data and are immutable, meaning their contents cannot be changed after creation.

### Question 07-->How do tuples ensure data integrity in Python?
***Ans-->*** Tuples ensure data integrity in Python primarily through their immutability—once a tuple is created, its contents cannot be changed, added to, or removed. This immutable nature guarantees that the data remains consistent and unaltered throughout the program, reducing the risk of bugs caused by accidental modification.

### Question 08-->What is a hash table, and how does it relate to dictionaries in Python?
***Ans-->*** A hash table is a data structure that efficiently maps keys to values using a process called hashing. It works by applying a hash function to each key, which produces a unique index where the value is stored in an array.

### Question 09-->Can lists contain different data types in Python?
***Ans-->*** Yes, lists in Python can contain elements of different data types. A single list can hold a mixture of integers, floats, strings, booleans, and even other complex data structures such as other lists, tuples, or dictionaries.

### Qusetion 10-->Explain why strings are immutable in Python.
***Ans-->*** Strings are immutable in Python because, once created, their contents cannot be altered. This immutability helps avoid accidental changes that could introduce bugs, making the program more reliable.

### Question 11-->What advantages do dictionaries offer over lists for certain tasks?
***Ans-->*** Dictionaries offer several advantages over lists for certain tasks, primarily due to their structure as key-value stores. Unlike lists, which are ordered collections accessed by integer indices, dictionaries allow you to access values quickly using unique keys.

### Question 12-->Describe a scenario where using a tuple would be preferable over a list.
***Ans-->*** A scenario where using a tuple would be preferable over a list is when you need to store a fixed collection of values that should not change throughout the program.

### Question 13 -->How do sets handle duplicate values in Python?
***Ans-->*** In Python, sets automatically handle duplicate values by ignoring them—only one instance of each value is stored in the set regardless of how many times it is added. When you try to add a duplicate item, the set simply retains the original without creating a new entry. This behavior occurs because sets store unique elements using a hash-based structure, which quickly identifies duplicates.

### Question 14-->P How does the “in” keyword work differently for lists and dictionaries?
***Ans-->***  In a list, "in" searches for a matching value, while in a dictionary, it searches for a matching key, not a value.

### Question 15-->Can you modify the elements of a tuple? Explain why or why not.
***Ans-->*** You cannot modify the elements of a tuple in Python because tuples are immutable. This means once a tuple is created, its contents cannot be changed, added to, or removed. Attempting to modify an element of a tuple results in a TypeError.

### Question 16-->What is a nested dictionary, and give an example of its use case.
***Ans-->*** A nested dictionary in Python is a dictionary where the values themselves are dictionaries, allowing for hierarchical data storage and representing complex relationships. This structure is useful for organizing grouped or related data efficiently.

### Question 17-->Describe the time complexity of accessing elements in a dictionary.
***Ans-->***  The time complexity of accessing elements in a Python dictionary is generally O(1), meaning it takes constant time on average to retrieve a value by its key. This efficiency stems from the dictionary’s internal implementation using a hash table, where the key is hashed to directly locate the associated value.

### Question 18--> In what situations are lists preferred over dictionaries?
***Ans-->*** Lists are preferred over dictionaries in situations where you need to maintain an ordered collection of items that may include duplicates or when you want to access elements by their position (index). Lists are well-suited for sequential data that requires operations like slicing, sorting, or iterating in a specific order. They are also more memory-efficient compared to dictionaries for simple collections.

### Question 19--> Why are dictionaries considered unordered, and how does that affect data retrieval?
***Ans-->*** Dictionaries in Python have historically been considered unordered because their internal structure—based on hash tables—does not guarantee any predictable arrangement of key-value pairs.

### Question 20-->Explain the difference between a list and a dictionary in terms of data retrieval.
***Ans-->*** The primary difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed. In a list, elements are accessed by their numerical index, which represents the position of the item within the ordered collection. This means retrieving an element requires knowing its position.

 In contrast, dictionaries use keys to retrieve values, where each key is unique and maps directly to its associated value.

#***Practical Solutions***

In [2]:
# Question 01--> Write a code to create a string with your name and print it
my_name="Akash Negi"
print(my_name)

Akash Negi

In [3]:
# Question 02--> Write a code to find the length of the string "Hello World"
count_len="HELLO WORLD"
print(len(count_len))

11

In [1]:
# Question 03--> Write a code to slice the first 3 characters from the string "Python Programming"
slice_str="Python Programming"
print(slice_str[0:3])

Pyt

In [2]:
# Question 04--> Write a code to convert the string "hello" to uppercase.
upper_str="hello"
print(upper_str.upper())

HELLO

In [4]:
# Question 05--> Write a code to replace the word "apple" with "orange" in the string "I like apple"
replace_str="I like apple"
print(replace_str.replace("apple","orange"))
print(replace_str)

I like orange
I like apple

In [5]:
# Question 06--> Write a code to create a list with numbers 1 to 5 and print it
list_num=[1,2,3,4,5]
print(list_num)

[1, 2, 3, 4, 5]

In [ ]:
# Question 07-->  Write a code to append the number 10 to the list [1, 2, 3, 4]
append_list=[1,2,3,4]
append_list.append(10)
print(append_list)

In [9]:
# Question 08--> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
remove_list=[1,2,3,4,5]
remove_list.remove(3)
print(remove_list)

[1, 2, 4, 5]

In [10]:
# Question 09--> Write a code to access the second element in the list ['a', 'b', 'c', 'd']
access_list=['a','b','c','d']
print(access_list[1])

b

In [11]:
# Question 10--> Write a code to reverse the list [10, 20, 30, 40, 50].
reverse_list=[10,20,30,40,50]
reverse_list.reverse()
print(reverse_list)

[50, 40, 30, 20, 10]

In [ ]:
# Qusetion 11--> Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple_num=(100,200,300)
print(tuple_num)

In [ ]:
# Question 12--> Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

In [ ]:
# Question 13--> Write a code to find the minimum number in the tuple (10, 20, 5, 15).
min_num=(10,20,5,15)
print(min(min_num))

In [12]:
# Qustion 14--> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal_tuple=('dog','cat','rabbit')
print(animal_tuple.index('cat'))

1

In [13]:
# Question 15--> Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_tuple=("apple","banana","kiwi")
print("kiwi" in fruits_tuple)

True

In [14]:
# Question 16--> Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_str={"a","b","c"}
print(set_str)

{'a', 'c', 'b'}

In [15]:
# Question17--> Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
clear_set={1,2,3,4,5}
clear_set.clear()
print(clear_set)

set()

In [16]:
# Question 18--> Write a code to remove the element 4 from the set {1, 2, 3, 4}.
remove_set={1,2,3,4}
remove_set.remove(4)
print(remove_set)

{1, 2, 3}

In [17]:
# Question 19--> Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
union_set=set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [18]:
#  Question 20--> Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
intersection_set=set1 & set2
print(intersection_set)

{2, 3}

In [19]:
#  Question 21--> Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"Akash","age":21,"city":"Dehradun"}
print(dict)

{'name': 'Akash', 'age': 20, 'city': 'Lucknow'}

In [20]:
# Question 22-->  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={"name":"John","age":25}
dict.update({"Country":"USA"})
print(dict)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [21]:
# Question 23--> Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [22]:
# Question 24-->  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [23]:
# Question 25-->  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [ ]:
# Question 26-->  Write a code to create a list, a tuple, and a dictionary, and print them all.
list_num=[1,2,3,4,5]
tuple_num=(1,2,3,4,5)
dict={"name":"Akash","age":21,"city":"Dehradun"}
print(list_num)
print(tuple_num)
print(dict)

In [24]:
# Question 27--> Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
random_list=[11,52,83,46,5]
random_list.sort()
print(random_list)

[5, 11, 46, 52, 83]

In [25]:
# Question 28--> Write a code to create a list with strings and print the element at the third index.
l=["apple",True,"banana","orange","kiwi",154]
print(l[2])

banana

In [27]:
# Question 29--> Write a code to combine two dictionaries into one and print the result.
dict1={"name":"Akash","age":21}
dict2={"city":"Dehradun","country":"India"}
dict1.update(dict2)
print(dict1)

{'name': 'Akash', 'age': 21, 'city': 'Dehradun', 'country': 'India'}

In [28]:
# Question 30--> Write a code to convert a list of strings into a set.
l=["apple",True,"banana","orange","kiwi",154,"banana"]
print(set(l))

{True, 'apple', 'orange', 154, 'kiwi', 'banana'}